@font-face {
    font-family: "Bebas Neue";
    src: url("../../assets/font/BebasNeueBook.woff") format("woff");
}

@font-face {
    font-family: "Playfair";
    src: url("../assets/font/PlayfairDisplay-Regular.woff") format("woff");
}

body {
    margin: 0;
    background: white;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.stopfade {
    opacity: 0;
}

@media screen and (max-width: 500px) {
    div {
        width: 70%;
    }
}

@media screen and (max-device-width: 800px) {
    #bgvid {
        display: none;
    }
}

/* STYLE - SELECT HISTORY */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAF1CB;
    background-image: linear-gradient( #FAF1CB, #E9DBB2);
    /* #EDCC7E */
    font-family: Playfair;
    overflow: hidden;
}

.history {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tache {
    position: absolute;
    top: 17vh;
    left: 25vw;
    width: 50%;
}

.title {
    position: absolute;
    top: 1vh;
    left: calc(34% + 1rem);
    font-family: Playfair;
    font-weight: lighter;
    color: #866b41;
    font-size: 55px;
    text-align: center;
}

.lineTitle {
    position: absolute;
    top: -6vh;
    left: 35vw;
}

a {
    text-decoration: none;
}

/* Slideshow container */

* {
    box-sizing: border-box
}

.mySlides {
    display: none
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 24%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */

.casque,
.laSabine,
.tamouthnefret {
    position: absolute;
    top: 48vh;
    font-family: Bebas Neue;
    color: white;
    font-size: 68px;
    text-align: center;
    text-shadow: 1px 1px 13px #000;
    letter-spacing: 2px;
    z-index: 1;
}

.casque {
    left: calc(42% + 1rem);
}

.laSabine {
    left: calc(43.5% + 1rem);
}

.tamouthnefret {
    left: calc(40% + 1rem);
}

/* The dots/bullets/indicators */

.dots {
    display: flex;
    align-self: center;
    left: calc(48.5% + 1rem);
    position: absolute;
    top: 94%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #c8b88f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #866b41;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -3px;
}

#dot_1 {
    right: 114px;
    position: absolute;
}

#dot_2 {
    right: -10px;
    position: absolute;
}

#dot_2:hover {
    right: 0;
    left: 0;
}

#dot_3 {
    left: 114px;
    position: absolute;
}

/* Line slider */

.lineSlider {
    top: 1004px;
    left: 40%;
    z-index: -6;
    position: absolute;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}