@font-face {
    font-family: "Open Sans";
    src: url("../assets/font/OpenSans-Regular.ttf") format("tff");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../assets/font/BebasNeueBook.otf") format("otf");
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAF1CB;
    background-image: linear-gradient(#FAF1CB, #E9DBB2, #EDCC7E);
}