<html lang="fr">
    <body>
        <p class="pop-up-button">Pop Up</p>
        <div class="color">
            <div class="pop-up">
                <span>x</span>
                <div class="pop-up-text">
                    <h1>Casque de Charles VI</h1>
                    <img src="../../assets/img/casque.png" width="100%" height="100%" />
                    <p>Ce casque a été retrouvé en 1984 lors des fouilles
                        <br/> de la cour Carrée du Louvre. Cent cinquante-cinq
                        <br/> morceaux se trouvaient au fond du puit du donjon.
                        <br/> du chateau du Louvre.
                    </p>
                </div>
            </div>
        </div>
        <div class="pop-up-container">
        </div>

        <link href='./style.css' rel='stylesheet' type='text/css'>
        <link href='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'>
        <script src="./script.js"></script>
    </body>
</html>