<html lang="fr">
    <body>
        <p class="pop-up-button">Pop Up</p>
        <div class="pop-up">
            <div class="borderPopup">
                <img class="cross" src="../../assets/svg/cross.svg" width="4%" height="4%" />
                <div class="pop-up-text">
                    <h1 class="title">Le casque de Charles VI</h1>
                    <img class="lineTitle" src="../../assets/svg/line_text_menu.svg" height="10%" width="70%">
                    <img class="casque" src="../../assets/img/casque.png" width="65%" height="60%" />
                    <p class="desc">Ce casque a été retrouvé en 1984 lors des fouilles
                        <br/> de la cour Carrée du Louvre. Cent cinquante-cinq
                        <br/> morceaux se trouvaient au fond du puit du donjon.
                        <br/> du chateau du Louvre.
                    </p>
                </div>
            </div>
        </div>
        <div class="pop-up-container">
        </div>

        <link href='./style.css' rel='stylesheet' type='text/css'>
        <link href='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'>
        <script src="./script.js"></script>
    </body>
</html>