<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="main">
     <img src="../../assets/img/small_spot.png" height="100%" width="100%">
        <section carrousel>
            <input id="slide-0" name="carrousel" type="radio" checked/>
            <div class="slide">
                <label for="slide-3" class="back"><img src="../../assets/svg/left_arrow.svg" height="70%" width="70%"></label>
                <div class="slide-content">
                    <p>Le casque de <br />Charles VI</p>
                </div>
                <label for="slide-1" class="forward"><img src="../../assets/svg/right_arrow.svg" height="70%" width="70%"></label>
            </div>
        
            <input id="slide-1" name="carrousel" type="radio" />
            <div class="slide">
                <label for="slide-0" class="back"><img src="../../assets/svg/left_arrow.svg" height="70%" width="70%"></label>
                <div class="slide-content">
                    <p name="c1" class="laSabine">La Sabine</p>
                </div>
                <label for="slide-2" class="forward"><img src="../../assets/svg/right_arrow.svg" height="70%" width="70%"></label>
            </div>
        
            <input id="slide-2" name="carrousel" type="radio" />
            <div class="slide">
                <label for="slide-1" class="back"><img src="../../assets/svg/left_arrow.svg" height="70%" width="70%"></label>
                <div class="slide-content">
                    <p class="tamouthnefret">Sarcophage de <br/>Tamouthnefret</p>
                </div>
                <label for="slide-3" class="forward"><img src="../../assets/svg/right_arrow.svg" height="70%" width="70%"></label>
            </div>
        
            <input id="slide-3" name="carrousel" type="radio" />
            <div class="slide">
                <label for="slide-2" class="back"><img src="../../assets/svg/left_arrow.svg" height="70%" width="70%"></label>
                <div class="slide-content">
                    <p class="journauxFouilles">Journaux de <br/>fouilles</p>
                </div>
                <label for="slide-0" class="forward"><img src="../../assets/svg/right_arrow.svg" height="70%" width="70%"></label>
            </div>
        </section>
    </div>
</body>
