<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="main">
        <div>
            <h1 class="title">Sélectionnez votre histoire</h1>
            <img class="lineTitle" src="../../assets/svg/line_text_menu.svg" height="35%" width="35%">
        </div>
        <img class="tache" src="../../assets/img/small_spot.png" height="80%" width="80%">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <a class="casque">Le casque de <br />Charles VI</a>
                </div>
                <div class="mySlides fade">
                    <a class="laSabine">La Sabine</a>
                </div>
                <div class="mySlides fade">
                    <a class="tamouthnefret">Sarcophage de <br/>Tamouthnefret</a>
                </div>
                <a class="prev" onclick="plusSlides(-1)" style="left: 10%;">
                    <img src="../../assets/svg/left_arrow.svg" height="65%" width="65%">
                </a>
                <a class="next" onclick="plusSlides(1)" style="right: 10%;">
                    <img src="../../assets/svg/right_arrow.svg" height="65%" width="65%">
                </a>
            </div>
            <div class="dots">
                <span id="dot_1" class="dot" onclick="currentSlide(1)"></span>
                <span id="dot_2" class="dot" onclick="currentSlide(2)"></span>
                <span id="dot_3" class="dot" onclick="currentSlide(3)"></span>
            </div>
            <img class="lineSlider" src="../../assets/svg/line_slider.svg" height="10%" width="20%">
        </section>
    </div>
    <script src="./script.js"></script>
    </body>
</html>
