<!doctype html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Animation javascript</title>
<link rel="stylesheet" media="screen" href="style.css">
<script src="jquery-2.1.0.min.js"></script>
<script src="script.js"></script>
<script src="class.clavier.js"></script>
</head>
<body>
<div id="canvas_holder">
	<!--
	Dimensions du canvas à préciser directement dans le HTML en tant qu'attributs de la balise.
	Si c'est fait dans la CSS, le ratio H/L est faussé.
	-->
	<canvas id="canvas" width="1920" height="1200"></canvas>
</div>
</body>
</html>