<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>menu</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

</head>
<body>
    <nav data-collapsed="true">
        <div id="top-side">
            <img style="margin-right:1%; width:100%; height:100%;" src="../../assets/svg/bottom.svg">
            <p class="paragraphe">
            Archéologie </p> 
        </div>
        <div id="left-side">
        <br><br>
        <div id="top-left">
        <p class="titre">musée</p>
        <img src="../../assets/svg/musee.svg" height="4px">
        </div>
        <div id="bottom-left">
          <p><b>les histoires</b></p>
          <img style="width:40%;" src="../../assets/svg/separateur2.svg">
          <p>à propos</p>
          <img style="width:40%;" src="../../assets/svg/separateur2.svg">
          <p>découvrir l'exposition</p>
          <img style="width:40%;" src="../../assets/svg/separateur2.svg">
          <p>nous contacter</p>
        </div>
        </div>
        <div id="separation">
                <img class="right" src="../../assets/svg/right.svg" width="3px" height="100%">
        </div>


    </nav>
      <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
        <img style="margin-top:30px;" src="../../assets/svg/burger.svg"  width="32px" height="24px" >
        
    </a>
</body>