<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>menu</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <script src="./index.js"></script>

</head>
<body>
    <nav data-collapsed="true">
        <div id="top-side">
            <img style="margin-right:1%; width:100%; height:100%;" src="/Users/melaniegaubert/Downloads/louvre-exp/assets/svg/bottom.svg">
            <p class="paragraphe">
            Archéologie </p> 
        </div>
        <div id="left-side">
        <br><br>
        <p class="titre">musée<br>
        <img class="musee" src="/Users/melaniegaubert/Downloads/louvre-exp/assets/svg/musee.svg" height="4px"></p>
        <br>
        <ul>
          <li><b>les histoires</b></li>
          <li><img src="/Users/melaniegaubert/Downloads/louvre-exp/assets/svg/separateur2.svg" width="190px"></li>
          <li style="margin-top:6px;">à propos</li>
          <li><img src="/Users/melaniegaubert/Downloads/louvre-exp/assets/svg/separateur2.svg" width="190px"></li>
          <li style="margin-top:6px;">découvrir l'exposition</li>
          <li><img src="/Users/melaniegaubert/Downloads/louvre-exp/assets/svg/separateur2.svg" width="190px"></li>
          <li style="margin-top:6px;">nous contacter</li>
        </ul>
        </div>
        <div id="separation">
                <img class="right" src="/Users/melaniegaubert/Downloads/louvre-exp/assets/svg/right.svg" width="3px" height="100%">
        </div>
    </nav>
      <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
        <img style="margin-top:30px;" src="/Users/melaniegaubert/Downloads/louvre-exp/assets/svg/burger.svg"  width="32px" height="24px" >
        
    </a>
</body>